salesforce/force-app/main/default/flows/REI_Lead_Cadence_Exit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Triggers when Lead exits Attempting_Contact status. Deletes all incomplete cadence tasks.</description>
    <interviewLabel>REI Lead Cadence Exit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REI Lead Cadence Exit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Incomplete_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Attempting_Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>

    <!-- Decision: Was status previously Attempting_Contact? -->
    <decisions>
        <name>Was_Attempting_Contact</name>
        <label>Was Attempting Contact?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Was_Attempting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempting_Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Incomplete_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <!-- Action: Delete Incomplete Tasks -->
    <actionCalls>
        <name>Delete_Incomplete_Tasks</name>
        <label>Delete Incomplete Tasks</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <actionName>REILeadCadenceCleanup</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
</Flow>
